body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable {
  cursor: pointer;
}

.canceled {
  filter: brightness(90%);
  opacity: 75%;
  color: indianred;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='DarkRed' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='DarkRed' stroke-width='1'/></svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100% 100%, auto;
}

.canceled .status {
  color: darkred !important;
  font-size: 90%;
}

.canceled .title {
  color: rgba(0, 0, 0, 0.8);
}

.canceled .room {
  text-decoration: line-through;
  font-size: 90%;
}