body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable {
  cursor: pointer;
}

.canceled, .remote {
  filter: brightness(90%);
  opacity: 75%;
}

.canceled .status {
  color: darkred !important;
  font-size: 90%;
}

.remote .status {
  color: #03035d !important;
  font-size: 90%;
}

.canceled .title {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: line-through;
}

.canceled .room {
  text-decoration: line-through;
  font-size: 90%;
}

.aggregated-list .list-group-item-light.list-group-item-action.active {
  background-color: rgb(240, 240, 240) !important;
  color: inherit !important;
}